/* palette */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: white; }

a {
  text-decoration: none;
  color: #d6281e; }
  a.plain {
    color: inherit; }

.button {
  border: 2px solid white;
  padding: 10px 30px;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 300;
  font-family: lato;
  -webkit-transition: background-color 100ms ease-out;
  -moz-transition: background-color 100ms ease-out;
  -o-transition: background-color 100ms ease-out;
  transition: background-color 100ms ease-out; }
  .button:hover {
    color: #d6281e;
    background: white;
    cursor: pointer; }

.span-50 {
  width: 50%; }

.span-70 {
  width: 70%; }

@media (min-width: 500px) {
  .show-below-2 {
    display: none; } }

@media (max-width: 499px) {
  .hide-below-2 {
    display: none; } }

@media (min-width: 425px) {
  .show-below-3 {
    display: none; } }

@media (max-width: 424px) {
  .hide-below-3 {
    display: none; } }

menu {
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.9);
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  font-family: "lato";
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: box-shadow 300ms ease-out;
  -moz-transition: box-shadow 300ms ease-out;
  -o-transition: box-shadow 300ms ease-out;
  transition: box-shadow 300ms ease-out; }
  menu a {
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    -o-transition: color 300ms ease-out;
    transition: color 300ms ease-out; }
  menu ul {
    padding: 0;
    margin: 0;
    list-item-style: none; }
    menu ul li {
      padding-left: 20px;
      display: inline-block; }
  menu[data-section="landing"] {
    background: transparent; }
    menu[data-section="landing"] a {
      color: white; }
  menu[data-section="about"] {
    -webkit-transition: background 300ms ease-out;
    -moz-transition: background 300ms ease-out;
    -o-transition: background 300ms ease-out;
    transition: background 300ms ease-out;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }
    menu[data-section="about"] a {
      color: #ff3538; }
    menu[data-section="about"] li:nth-child(1) {
      font-weight: 700; }
  menu[data-section="schedule"] {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }
    menu[data-section="schedule"] a {
      color: #3c1e0e; }
    menu[data-section="schedule"] li:nth-child(2) {
      font-weight: 700; }
  menu[data-section="location"] {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }
    menu[data-section="location"] a {
      color: #ff9e37; }
    menu[data-section="location"] li:nth-child(3) {
      font-weight: 700; }
  menu[data-section="divisions"] {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }
    menu[data-section="divisions"] a {
      color: #36cfce; }
    menu[data-section="divisions"] li:nth-child(4) {
      font-weight: 700; }
  menu[data-section="register"] a {
    color: #000; }

.divider {
  font-size: 1.5em;
  margin: 0 10px; }

body {
  font-size: 16px; }
  @media (max-width: 579px) {
    body {
      font-size: 14px; } }
  @media (max-width: 499px) {
    body {
      font-size: 12px; } }
  @media (max-width: 424px) {
    body {
      font-size: 10px; } }
  @media (max-width: 349px) {
    body {
      font-size: 9px; } }

.section-container {
  margin: 0;
  width: 100%;
  min-width: 320px;
  position: relative;
  overflow-y: hidden; }
  .section-container .header {
    text-align: center;
    font-family: "lato";
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 0.5em;
    letter-spacing: 6px; }
  .section-container .padded-header {
    padding-top: 80px; }
  .section-container .small-header {
    text-align: center;
    font-family: "lato";
    font-weight: 700 !important;
    text-transform: uppercase;
    padding-top: 1.0em;
    padding-bottom: 0.5em;
    font-weight: 300;
    letter-spacing: 3px; }
  .section-container .section-body {
    font-family: "open sans", "lato", sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    line-height: 1.7em;
    color: #222222;
    padding: 0 10%;
    margin: 0 auto; }
    @media (max-width: 499px) {
      .section-container .section-body {
        font-size: 1.5em; } }
  .section-container .overlay {
    padding: 60px 0; }
  .section-container .banner-picture {
    width: 100%;
    max-height: 400px;
    overflow: hidden; }
    .section-container .banner-picture img {
      max-width: 100%;
      height: auto; }

/* TEXT */
/* SECTION SPECIFICS */
#landing {
  color: #ffffff;
  text-align: center;
  padding: 0;
  height: 100%; }
  #landing .wide-bracket {
    display: inline-block;
    transform: scale(0.8, 3);
    /* W3C */
    -webkit-transform: scale(0.8, 3);
    /* Safari and Chrome */
    -moz-transform: scale(0.8, 3);
    /* Firefox */
    -ms-transform: scale(0.8, 3);
    /* IE 9 */
    -o-transform: scale(0.8, 3);
    /* Opera */ }
  #landing .thc-label {
    font-style: normal;
    font-family: "Big Caslon", "crimson text", serif;
    font-size: 1.2em; }
  #landing .liveramp img {
    position: relative;
    height: 2em;
    top: 0.5em;
    margin-left: -7px; }
  #landing .ventures {
    margin-top: -7px; }
    #landing .ventures img {
      position: relative;
      height: 2.5em;
      top: 0.7em;
      margin-left: 5px; }
  #landing #landing-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/sea.jpg");
    background-size: 100% 120%;
    -webkit-transform: translate3d(0, 0, 0); }
  #landing #landing-bg-blur {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/sea-blur.jpg");
    background-size: 100% 120%;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0); }
  #landing .gradient-overlay {
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(#d6281e, rgba(255, 135, 0, 0.5) 60%, transparent);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d6281e, rgba(255, 135, 0, 0.5) 60%, transparent);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d6281e, rgba(255, 135, 0, 0.5) 60%, transparent);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d6281e, rgba(255, 135, 0, 0.5) 60%, transparent);
    /* Standard syntax */ }
  #landing .main-header {
    position: absolute;
    top: 10%;
    width: 100%;
    font-family: "lato"; }
    #landing .main-header .logo {
      font-size: 5.7em;
      margin: 0;
      padding: 0;
      font-weight: 100 !important;
      letter-spacing: 2px; }
      #landing .main-header .logo .haha-wrapper {
        display: inline-block;
        margin-right: -25px;
        margin-left: -25px; }
      #landing .main-header .logo .harvard {
        font-size: 0.3em; }
      #landing .main-header .logo .hackfest {
        margin-top: -15px; }
        @media (max-width: 424px) {
          #landing .main-header .logo .hackfest {
            margin-top: -10px; } }
      #landing .main-header .logo .wide-bracket {
        position: relative;
        top: -20px; }
        @media (max-width: 499px) {
          #landing .main-header .logo .wide-bracket {
            top: -15px; } }
    #landing .main-header .info {
      margin: 15px 0 35px 0;
      font-weight: 300;
      line-height: 1.8em; }
    #landing .main-header .attrib {
      font-weight: 400;
      font-family: "crimson text", serif;
      font-style: italic;
      letter-spacing: 1px;
      margin: 50px; }
      #landing .main-header .attrib a {
        color: inherit;
        text-decoration: inherit; }
    #landing .main-header .open-space {
      height: 16px; }

#about .header {
  color: #ff3538; }
#about .overlay {
  height: 100%;
  width: 100%; }

#divisions .header {
  color: #36cfce; }
#divisions .overlay {
  height: 100%;
  width: 100%; }
#divisions .division {
  display: inline-block;
  margin-top: 1.5em;
  vertical-align: top;
  text-align: center;
  width: 31%; }
  #divisions .division img {
    max-width: 80%;
    margin: 0 auto; }
  #divisions .division .small-header {
    padding: 0; }
  #divisions .division.middle {
    margin-left: 2%;
    margin-right: 2%; }
  @media (max-width: 424px) {
    #divisions .division {
      width: 100%;
      margin-bottom: 1em; }
      #divisions .division img {
        max-width: 60%; }
      #divisions .division.middle {
        margin-left: 0;
        margin-right: 0; } }

@media (max-width: 424px) {
  .rotateInDownLeft {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn; }

  .rotateInDownRight {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn; } }
#location .header {
  color: #ff9e37; }
#location .map {
  display: inline-block;
  width: 48%;
  float: left; }
  #location .map img {
    max-width: 100%;
    max-height: 100%; }
  #location .map iframe {
    width: 100%; }
  @media (max-width: 579px) {
    #location .map {
      float: none;
      width: 100%; } }
#location .text {
  float: left;
  display: inline-block;
  padding-left: 3%;
  width: 48%; }
  @media (max-width: 579px) {
    #location .text {
      float: none;
      width: 100%; } }

#schedule #schedule-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../images/clock.jpg");
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0); }
#schedule #schedule-bg-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../images/clock-blur.jpg");
  background-size: cover;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0); }
#schedule .header, #schedule .small-header {
  color: white; }
#schedule .schedule-container {
  width: 500px;
  padding: 0 !important; }
#schedule ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  #schedule ul li .time {
    display: inline-block;
    color: white;
    font-weight: 700;
    vertical-align: top;
    width: 100px; }
  #schedule ul li .deets {
    display: inline-block;
    color: white;
    width: 395px; }
@media (max-width: 499px) {
  #schedule .schedule-container {
    width: 400px; }
  #schedule ul li .time {
    width: 90px; }
  #schedule ul li .deets {
    width: 305px; } }
@media (max-width: 424px) {
  #schedule .schedule-container {
    width: 340px; }
  #schedule ul li .time {
    width: 80px; }
  #schedule ul li .deets {
    width: 255px; } }
@media (max-width: 349px) {
  #schedule .schedule-container {
    width: 300px; }
  #schedule ul li .time {
    width: 70px; }
  #schedule ul li .deets {
    width: 225px; } }
#schedule .overlay {
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(#d6281e, rgba(255, 135, 0, 0.5));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#d6281e, rgba(255, 135, 0, 0.5));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#d6281e, rgba(255, 135, 0, 0.5));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#d6281e, rgba(255, 135, 0, 0.5));
  /* Standard syntax */ }

#register {
  color: #ffffff;
  text-align: center;
  background-image: url("../images/sea-close.jpg");
  background-size: 100% 150%;
  background-size: cover;
  background-position-y: 60%;
  padding: 0;
  height: 60%; }
  #register .overlay {
    padding: 0;
    background: -webkit-linear-gradient(rgba(30, 48, 100, 0.6), transparent);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(30, 48, 100, 0.6), transparent);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(30, 48, 100, 0.6), transparent);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(30, 48, 100, 0.6), transparent);
    /* Standard syntax */
    height: 100%; }
    #register .overlay .header {
      padding-top: 2.0em; }
  #register .button:hover {
    color: #274447 !important; }
  #register .header {
    margin-bottom: 30px; }

#register-form {
  background-image: url("../images/sea-blur.jpg");
  background-size: 120% 100%;
  height: 1660px; }
  #register-form .header {
    color: white; }
  #register-form form {
    padding: 0; }
    #register-form form input {
      font: 14px "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: 200;
      background-color: rgba(255, 255, 255, 0.2);
      border: 0;
      border-bottom: 2px white solid;
      outline: 0;
      color: white;
      font-size: 40px;
      padding: 10px; }
      #register-form form input::-webkit-outer-spin-button, #register-form form input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    #register-form form .prompt {
      margin-right: 15px; }
    #register-form form .error {
      position: relative;
      left: -200px;
      top: 30px;
      color: #d6281e;
      font-size: 10px;
      text-transform: uppercase;
      visibility: hidden; }
      #register-form form .error.show-error {
        visibility: visible; }
    #register-form form .inline {
      display: inline-block;
      width: 250px; }
    #register-form form .input-short {
      max-width: 75px; }
    #register-form form #input-age {
      text-align: center; }
    #register-form form .label-text {
      display: block;
      text-align: left;
      font-family: "lato";
      font-weight: 700 !important;
      text-transform: uppercase;
      padding-top: 1.0em;
      padding-bottom: 0.5em;
      font-weight: 300;
      letter-spacing: 3px;
      color: white; }
    #register-form form .field.empty .label-text {
      color: #c10016;
      font-weight: bold; }
    #register-form form .field input {
      font-size: 1.3em; }
    #register-form form .button {
      margin-top: 30px; }
    #register-form form > * {
      padding: 20px 0px; }
    #register-form form #non-harvard-fields {
      margin-left: 30px;
      padding-left: 20px;
      padding-top: 0;
      display: none;
      border-left: 3px solid #000; }
    @media (max-width: 499px) {
      #register-form form {
        width: 90%; } }

#success {
  display: none;
  width: 60%;
  max-width: 545px;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 10px 20px;
  color: white;
  font-family: "open sans", "lato", sans-serif;
  text-align: center;
  margin: 1em auto 0; }
  #success h3 {
    font-weight: 100;
    font-size: 2em;
    margin: 0.2em auto; }

/* REG CONFIRM STYLES */
#reg-confirm a {
  color: #fff;
  text-decoration: underline; }
#reg-confirm .confirm-title {
  font-weight: lighter;
  font-size: 4em;
  margin-bottom: 0.9em; }
#reg-confirm .confirm-sub {
  margin: 0 auto;
  width: 80%;
  font-weight: 300;
  font-size: 1.15em; }

/* CREDIT http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }
