{% extends 'regconfirm/_base.html' %}

{% block content %}

<div class="confirm-title">
    Congratulations!
</div>
<div class="confirm-sub">
    <p>Your confirmation has been recorded, {{ person.name }}.</p>
    <p>See you this Saturday at the i-lab @ 11 a.m. We'll open the doors at 10:30 a.m. &ndash; please try to come on time so you can hear each other's ideas and form teams most efficiently. If you will be late, either have a friend sign you in or email us at <a href="mailto:hackfest@thecrimson.com">hackfest@thecrimson.com</a>.</p>
    <p>As a reminder, food will be provided for you the entire weekend. You are also welcome (and encouraged) to sleep at the i-lab Saturday night (or Sunday morning), but this will be made much easier if you bring a sleeping bag.</p>
    <p>Finally, we are announcing our keynote speaker for the hackathon, <strong>David Chang, COO of PayPal Media</strong>. We think you will enjoy hearing his insights into the world of startups.</p>
    <p>We can't wait to see what you make!</p>
</div>

{% endblock %}
